<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="FluentAssertions" version="3.5.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Azure.WebJobs" version="1.1.1" targetFramework="net45" />
  <package id="Microsoft.Azure.WebJobs.Core" version="1.1.1" targetFramework="net45" />
  <package id="Microsoft.Azure.WebJobs.Extensions" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.6.2" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.6.2" targetFramework="net40" />
  <package id="Microsoft.Data.Services.Client" version="5.6.2" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net45" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="portable-net45+win80+wp80+wpa81" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net35" />
  <package id="Moq" version="4.5.21" targetFramework="net45" />
  <package id="ncrontab" version="2.0.0" targetFramework="net20" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="ScriptCs.AzureFunctions" version="0.16.1.15" targetFramework="net46" />
  <package id="ScriptCs.Contracts" version="0.16.1" targetFramework="net45" />
  <package id="ScriptCs.FluentAssertions" version="0.16.1.5" targetFramework="net45" />
  <package id="ScriptCs.Moq" version="0.16.1.13" targetFramework="net46" />
  <package id="ScriptCs.NUnit" version="0.5.2" targetFramework="net40" />
  <package id="System.Spatial" version="5.6.2" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net40-Client" />
</packages>