<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.1.1" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="FluentAssertions" version="4.18.0" targetFramework="net452" />
  <package id="MediatR" version="2.1.0" targetFramework="net452" />
  <package id="Moq" version="4.5.29" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NLog" version="4.3.7" targetFramework="net452" />
  <package id="NUnit" version="3.7.1" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Types" version="1.0.0.32968" targetFramework="net452" />
  <package id="SFA.DAS.EmploymentCheck.Events" version="1.0.0.51324" targetFramework="net462" />
  <package id="SFA.DAS.Events.Api.Client" version="1.23.0.28215" targetFramework="net452" />
  <package id="SFA.DAS.Events.Api.Types" version="1.23.0.28215" targetFramework="net452" />
  <package id="SFA.DAS.Messaging" version="3.0.0.49552" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.23289" targetFramework="net452" />
  <package id="SFA.DAS.Provider.Events.Api.Client" version="2.1.16" targetFramework="net462" />
</packages>