<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConfigurationStorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="DataConnectionString" value="Server=(localdb)\ProjectsV13;Database=SFA.DAS.Data.Database;Integrated Security = true;Trusted_Connection=True;Pooling=False;Connect Timeout=30;MultipleActiveResultSets=True" />
    <add key="EventsApiBaseUrl" value="http://localhost:8000/" />
    <add key="EventsApiClientToken" value="irrelevant" />
    <add key="AccountsApiBaseUrl" value="http://localhost:8001/" />
    <add key="AccountsApiClientId" value="" />
    <add key="AccountsApiClientSecret" value="" />
    <add key="AccountsApiIdentifierUri" value="" />
    <add key="AccountsApiTenant" value="" />
    <add key="EnvironmentName" value="LOCAL" />
    <add key="EventFailureTolerance" value="10" />
    <add key="InstrumentationKey" value="ABC123" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>