<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataConnectionString" value="Server=(localdb)\ProjectsV13;Database=SFA.DAS.Data.Database;Integrated Security = true;Trusted_Connection=True;Pooling=False;Connect Timeout=30;MultipleActiveResultSets=True" />
    <add key="EventsApiBaseUrl" value="http://localhost:8000/" />
    <add key="EventsApiClientToken" value="irrelevant" />
    <add key="AccountsApiBaseUrl" value="http://localhost:8001/" />
    <add key="AccountsApiClientId" value="0a25a495-140e-4f9f-807b-11e2fa115375" />
    <add key="AccountsApiClientSecret" value="sEPRGVXntP2fYeEKa4uXfStM55XqgFk22KRHrxBit5k=" />
    <add key="AccountsApiIdentifierUri" value="https://citizenazuresfabisgov.onmicrosoft.com/eas-api" />
    <add key="AccountsApiTenant" value="citizenazuresfabisgov.onmicrosoft.com" />
    <add key="EnvironmentName" value="LOCAL" />
    <add key="EventFailureTolerance" value="10" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>