<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FAKEBuildScript" version="1.0.20" targetFramework="net452" />
  <package id="MediatR" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="NuGet.CommandLine" version="3.3.0" targetFramework="net452" />
  <package id="NUnit.Console" version="3.4.0" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.4.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.4.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.0" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.0" targetFramework="net452" />
  <package id="StructureMap" version="4.4.2" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.1.5" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="7.2.1" targetFramework="net452" />
</packages>