<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.8" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Client" version="1.0.0.32968" targetFramework="net452" />
  <package id="SFA.DAS.Account.Api.Types" version="1.0.0.32968" targetFramework="net452" />
  <package id="SFA.DAS.Events.Api.Client" version="2.1.9" targetFramework="net462" />
  <package id="SFA.DAS.Events.Api.Types" version="2.1.9" targetFramework="net462" />
  <package id="SFA.DAS.Http" version="1.0.0.35471" targetFramework="net462" />
  <package id="SFA.DAS.Provider.Events.Api.Client" version="2.1.16" targetFramework="net462" />
  <package id="SFA.Roatp.Api.Client" version="0.1.119" targetFramework="net462" />
  <package id="SFA.Roatp.Api.Types" version="0.1.119" targetFramework="net462" />
</packages>